@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    background-color: #f3f9fb;
}


#movie-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 50px;
    padding: 100px;
    background-color: #f3f9fb;
    font-family: 'Ubuntu', sans-serif;
}

.movie-card {
    border: 1px solid #f3f9fb;
    width: 250px;
    padding: 20px;
    background-color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 5px 2px black;
}

.movie-card:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0px 0px 0 0 white;
}

.movie-card img {
    height: 250px;
    display: block;
}

.meta {
    display: flex;
    align-items: center;
    justify-content: end;
}

#popularity,
#vote-count {
    margin-top: 20px;
    margin-right: 20px;
}

#popularity i,
#vote-count i {
    margin-right: 5px;
}

.movie-card h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.movie-card>p:nth-of-type(1) {
    margin: 0 0 20px 0;
    font-size: 0.8em;
}

.pagination {
    display: flex;
    width: 50%;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pagination p {
    width: 100%;
    padding: 20px 20px;
    margin-right: 2px;
    cursor: pointer;
}

.pagination p:hover {
    background-color: white;
    transform: scale(1.5);
}

.selected {
    background-color: #51e3d4;
    transform: scale(1.5);
}



nav {
    padding: 10px 0 10px 40px;
    height: 30px;
    background-color: #474f85;
    /* color: black; */
    color: white;
}

label.logo {
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
    line-height: 30px;
}

nav>ul {
    display: flex;
    align-items: baseline;
    list-style-type: none;
}

li {
    margin-right: 30px;
    cursor: pointer;
}

#languages {
    color: white;
    background-color: #474f85;
    outline: none;
    border: none;
    padding-bottom: 10px;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#languages::-ms-expand {
    display: none;
}

#languages * {
    /* background-color: red; */
    font-size: 1.2em;
}